@import './variables.css';
@import './markdown.css';
@import './panel.css';

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

/* Embed mode: hide top bar and navigation */
html[data-embed='true'] main[data-swap-root] > nav {
  display: none;
}

html[data-embed='true'] main[data-swap-root] header {
  display: none;
}
